{% extends "ElektraSiteBundle:Areas:navbar.html.twig" %}

{% import "ElektraSiteBundle:Macros:site.html.twig" as site %}

{% trans_default_domain "ElektraSite" %}

{% block navbar_left_content %}
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('ElektraSiteBundle_site_about') }}">
                {% trans %}lang.site.menu.about{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ElektraSiteBundle_site_terms') }}">
                {% trans %}lang.site.menu.terms{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock navbar_left_content %}