{% extends "ElektraThemeBundle::layout.html.twig" %}

{% block main_content %}


    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

{% endblock main_content %}