{% set collapseId = 'footer-navbar' %}

<footer id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">

        {# Header part - responsive button#}
        <div class="navbar-header">
            {# Responsive Button #}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ collapseId }}">
                <span class="sr-only">Toggle Footer</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {# collapsible part - menus #}
        <div class="navbar-collapse collapse" id="{{ collapseId }}">
            {# left menu part #}
            {% block navbar_left %}
                <div class="navbar-left">
                    {% block navbar_left_content %}
                    {% endblock navbar_left_content %}
                </div>
            {% endblock navbar_left %}

            {# right menu part #}
            {% block navbar_right %}
                <div class="navbar-right">
                    {% block navbar_right_content %}
                    {% endblock navbar_right_content %}
                </div>
            {% endblock navbar_right %}
        </div>

    </div>
</footer>