{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}


{% from _self import show as showMessage %}

{% set types = ['error', 'warning', 'info', 'success'] %}

<div class="container">
    {% for type in types %}
        {% set messages = app.session.flashbag.get(type) %}
        {% if messages|length > 0 %}
            {% for message in messages %}
                {{ showMessage(type, message, (type=='error' ? false : true)) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>


{% macro show(type, text, dismissable) %}
    <div class="system-messages system-messages-{{ type }} {{ (dismissable) ? 'system-messages-dismissable' : '' }} ">
        {% if dismissable %}
            <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">
                &times;
            </span>
            <span class="sr-only">
                Close
            </span>
            </button>
        {% endif %}
        <span class="icon"></span>
        <span class="message">
            {{- text -}}
        </span>
    </div>
{% endmacro %}