{% extends "ElektraThemeBundle:Parts/Footer:base-footer.html.twig" %}

{% block navbar_left_content %}
    <p class="navbar-text">
        &copy; {% trans %}site.request.copyright{% endtrans %}
    </p>
{% endblock navbar_left_content %}

{% block navbar_right_content %}
    <ul class="navbar-nav nav">
        <li>
            <a href="#">TODO: Define Footer - right</a>
        </li>
    </ul>
{% endblock navbar_right_content %}