{% import "ElektraThemeBundle:Macros:messages.html.twig" as messages %}

{% set messagesError = app.session.flashbag.get('error') %}
{% set messagesWarning = app.session.flashbag.get('warning') %}
{% set messagesInfo = app.session.flashbag.get('info') %}
{% set messagesSuccess = app.session.flashbag.get('success') %}

{# only show the messages container if any of the types has messages #}
{% if (messagesError|length > 0) or (messagesWarning|length > 0) or (messagesInfo|length > 0) or (messagesSuccess|length > 0) %}
    <div class="container">

        {# show the error messages #}
        {% if messagesError|length > 0 %}
            {% for text in messagesError %}
                {{ messages.show(text, 'error', 'no') }}
            {% endfor %}
        {% endif %}

        {# show the warning messages #}
        {% if messagesWarning|length > 0 %}
            {% for text in messagesWarning %}
                {{ messages.show(text, 'warning') }}
            {% endfor %}
        {% endif %}

        {# show the info messages #}
        {% if messagesInfo|length > 0 %}
            {% for text in messagesInfo %}
                {{ messages.show(text, 'info') }}
            {% endfor %}
        {% endif %}

        {# show the success messages #}
        {% if messagesSuccess|length > 0 %}
            {% for text in messagesSuccess %}
                {{ messages.show(text, 'success') }}
            {% endfor %}
        {% endif %}

    </div>
{% endif %}