{% macro show(type, text, dismissable) %}
    <div class="system-messages system-messages-{{ type }} {{ (dismissable) ? 'system-messages-dismissable' : '' }} ">
        {% if dismissable %}
            <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">
                &times;
            </span>
            <span class="sr-only">
                Close
            </span>
            </button>
        {% endif %}
        <span class="icon"></span>
        <span class="message">
            {{- text -}}
        </span>
    </div>
{% endmacro %}