{% macro show(table) %}
    {% import _self as tables %}


    <table class="{{ table.style.classes }}" style="{{ table.style.css }}">
        {#{% if table.hasHead %}#}
            {#<thead>#}

            {#</thead>#}
        {#{% endif %}#}
    </table>


{% endmacro %}

{% macro start(table) %}



    {#{{ classes }}#}
{% endmacro %}


    {#{% macro start(table) %}#}

    {#{% endmacro %}#}

    {#{% macro end(table) %}#}

    {#{% endmacro %}#}

    {#{% macro head(table) %}#}

    {#{% endmacro %}#}

    {#{% macro foot(table) %}#}

    {#{% endmacro %}#}

    {#{% macro body(table) %}#}

    {#{% endmacro %}#}

    {#{% macro row() %}#}

{#{% endmacro %}#}