{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}

<!DOCTYPE html>
<html>
{% include "ElektraSiteBundle:base:head.html.twig" %}
<body>

{#############################################################################
 # HTML Content Area
 #############################################################################}

{# Include Navigation Bar if defined #}
{% if siteBase.area('navbar') is not empty %}
    {% include siteBase.area('navbar') %}
{% endif %}

{# Include Messages if defined #}
{% if siteBase.area('messages') is not empty and siteBase.hasMessages %}
    {% include siteBase.area('messages') %}
{% endif %}

{# Include the page heading #}
{% include "ElektraSiteBundle:base:heading.html.twig" %}

{# TESTING #}
{#<div class="container">#}
{#<div class="btn-group">#}
{#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
{#Test <span class="caret"></span>#}
{#</button>#}
{#<ul class="dropdown-menu">#}
{#<li><a href="#" data-toggle="modal" data-target="#modal-1">Click 1</a></li>#}
{#<li><a href="#" data-toggle="modal" data-target="#modal-2">Click 2</a></li>#}
{#</ul>#}
{#</div>#}
{#</div>#}
{#<div id="modal-1" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">#}
{#<div class="modal-dialog modal-lg">#}
{#<div class="modal-content">#}
{#<div class="modal-header">#}
{#Test 1#}
{#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
{#</div>#}
{#<div class="modal-body">#}
{#asdf#}
{#</div>#}
{#<div class="modal-footer">#}
{#<input type="submit" value="submit"/>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#<div id="modal-2" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">#}
{#<div class="modal-dialog">#}
{#<div class="modal-content">#}
{#<div class="modal-header">#}
{#Test 2#}
{#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
{#</div>#}
{#<div class="modal-body">#}
{#asdf#}
{#</div>#}
{#<div class="modal-footer">#}
{#<input type="submit" value="submit"/>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</div>#}
{# END TESTING #}

{# Main content container #}
<div class="container">
    {% block content %}
        In Base Template - no override
        {# NOTE the inheriting templates need to override this block - everything else should be already handled by this template #}
    {% endblock content %}
</div>

{# Include Footer Bar if defined #}
{% if siteBase.area('footer') is not empty %}
    {% include siteBase.area('footer') %}
{% endif %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var required = {};
            jQuery('.modal').each(function(index, element) {
                required[element.id] = [];
                jQuery(element).find('input').each(function(index2, input) {
                    if (input.required) {
                        required[element.id][required[element.id].length] = input;
                        jQuery(input).removeAttr('required');
                    }

                })
                jQuery(element).find('select').each(function(index2, input) {
                    if (input.required) {
                        required[element.id][required[element.id].length] = input;
                        jQuery(input).removeAttr('required');
                    }
                })
                jQuery(element).find('textarea').each(function(index2, input) {
                    if (input.required) {
                        required[element.id][required[element.id].length] = input;
                        jQuery(input).removeAttr('required');
                    }
                })
            })


            jQuery('.modal').on('show.bs.modal', function(event) {
                var id = event.target.id;
                jQuery(required[id]).each(function(index, element) {
                    jQuery(element).attr('required', 'required');
                })
            })
            jQuery('.modal').on('hide.bs.modal', function(event) {
                var id = event.target.id;
                jQuery(required[id]).each(function(index, element) {
                    jQuery(element).removeAttr('required');
                })
            })

        });

    </script>
{% endblock javascripts %}
</body>
</html>