{% extends "ElektraThemeBundle::layout.html.twig" %}

{#{% extends 'ElektraSiteBundle::base.html.twig' %}#}

{#&#123;&#35;{% form_theme form "AurealisThemeBundle:Form:fields.html.twig" %}&#35;&#125;#}



{#{% block body_content %}#}

    {#&#123;&#35; header block: main navigation &#35;&#125;#}
    {#{% block body_header %}#}
        {#&#123;&#35; TODO src: make navbar generic (using Elektra\SiteBundle\Menu\Menu and Aurealis\ThemeBundle\Menu\Menu &#35;&#125;#}
        {#{% include 'ElektraSiteBundle:Includes:navbar.html.twig' %}#}
        {#&#123;&#35;{% include 'AurealisThemeBundle:Navbar:navbar.html.twig' %}&#35;&#125;#}
    {#{% endblock body_header %}#}

    {#&#123;&#35; messages block: system messages (info / error / etc) &#35;&#125;#}
    {#{% block body_messages %}#}
        {#&#123;&#35;{% include 'AurealisThemeBundle:Messages:messages.html.twig' %}&#35;&#125;#}
    {#{% endblock body_messages %}#}

    {#&#123;&#35; heading block: actual page title &#35;&#125;#}
    {#{% block body_heading %}#}
        {#{% if ( theme_page.heading is defined ) and not ( theme_page.heading is empty ) %}#}
            {#<div class="container">#}
                {#<h1 class="page_heading">#}
                    {#{{ theme_page.heading }}#}
                {#</h1>#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endblock body_heading %}#}

    {#&#123;&#35; component block: the actual page content &#35;&#125;#}
    {#{% block body_component %}#}

    {#{% endblock body_component %}#}

    {#&#123;&#35; footer block: copyright information, etc &#35;&#125;#}
    {#{% block body_footer %}#}

    {#{% endblock body_footer %}#}

{#{% endblock body_content %}#}