<nav id="nav-main" class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cesu-main-navigation">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ path('_cesu_home') }}" class="navbar-brand">
                CESU
            </a>
        </div>

        <div class="navbar-collapse collapse" id="cesu-main-navigation">
            {#<div class="navbar-left">#}
            {#<ul class="nav navbar-nav">#}
            {#<li>#}
            {#<a href="#">Test</a>#}
            {#</li>#}
            {#</ul>#}
            {#</div>#}

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Configuration <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">
                                <span class="dropdown-header-title">
                                    Seed Units
                                </span>
                            </li>
                            <li>
                                <a href="{{ path('_cesu_seed_unit_models_list') }}">
                                    Models
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('_cesu_seed_unit_power_types_list') }}">
                                    Power Types
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</nav>