{% extends "ElektraThemeBundle:Parts/Navigation:base-navbar.html.twig" %}

{% block navbar_left_content %}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">TODO: Define Menu - left</a>
        </li>
    </ul>
{% endblock navbar_left_content %}

{% block navbar_right_content %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans %}site.admin.menu.master_data{% endtrans %}
                <span class="dropdown-indicator"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">
                    <span class="dropdown-header-title">
                        {% trans %}site.admin.menu.seedunits{% endtrans %}
                    </span>
                </li>
                <li>
                    <a href="{{ path('ElektraSeedBundle_seedunits_models_browse') }}">
                        {% trans %}site.admin.menu.seedunit_models{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('ElektraSeedBundle_seedunits_powerCordTypes_browse') }}">
                        {% trans %}site.admin.menu.seedunit_powercordtypes{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock navbar_right_content %}