{% extends "ElektraThemeBundle:Parts/Navigation:base-navbar.html.twig" %}

{% block navbar_left_content %}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">TODO: Define Menu - left</a>
        </li>
    </ul>
{% endblock navbar_left_content %}

{% block navbar_right_content %}
    <ul class="nav navbar-nav">
        <li>
            <a href="#">TODO: Define Menu - right</a>
        </li>
    </ul>
{% endblock navbar_right_content %}