{% extends "ElektraSiteBundle::layout.html.twig" %}
 {% block body_component %}
     <div class="container">
         {% trans %}site.static.content.about{% endtrans %}
     </div>
 {% endblock body_component %}