{% extends "ElektraSiteBundle::layout.html.twig" %}
{% block body_component %}
    <div class="container">
        TODO src: Add the "Terms &amp; Conditions" content
    </div>
{% endblock body_component %}