{% extends "ElektraThemeBundle::base.html.twig" %}
{% import "ElektraThemeBundle:Macros:tables.html.twig" as tables %}

{% block title %}Elektra ThemeBundle basic layout{% endblock title %}

{% block body_content %}

    {% block navbar %}
        {% if theme.getSubTemplate('navbar') is not null %}
            {% include theme.getSubTemplate('navbar') %}
        {% endif %}
    {% endblock %}

    {% block messages %}
        {% if theme.getSubTemplate('messages') is not null %}
            {% include theme.getSubTemplate('messages') %}
        {% endif %}
    {% endblock messages %}

    {% block page_heading %}
        {% if theme.getPageVar('heading') is not null %}
            <div class="container">
                <h1 class="page_heading">
                    {{ theme.getPageVar('heading') }}
                </h1>
            </div>
        {% endif %}
    {% endblock page_heading %}

    {# TODO src: add any filter bar or breadcrumbs here? #}

    {% block main_content %}
        {{ table.setStriped }}
        {{ table.setFullWidth }}
        {#{% table1.striped = 1 %}#}

        {{ tables.show(table) }}
        {#{% for entry in entries %}#}

        {#{% endfor %}#}

    {% endblock main_content %}

    {% block footer %}
        {% if theme.getSubTemplate('footer') is not null %}
            {% include theme.getSubTemplate('footer') %}
        {% endif %}
    {% endblock footer %}

{% endblock body_content %}