{% extends "ElektraThemeBundle:Areas:footer.html.twig" %}

{% import "ElektraSiteBundle:Macros:site.html.twig" as site %}

{#{% block navbar_left %}#}
{#{% endblock navbar_left %}#}

{% block navbar_left_content %}
    <p class="navbar-text">
        {{ site.copyright(page.lang('copyright')) }}
    </p>
{% endblock navbar_left_content %}

{#{% block navbar_right %}#}
{#{% endblock navbar_right %}#}

{#{% block navbar_right_content %}#}
{#{% endblock navbar_right_content %}#}
