{% extends "ElektraSiteBundle::layout.html.twig" %}

{# TODO src: format the form (maybe override the twig form fields #}
{% block body_component %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock body_component %}
